@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* *{background-color: biege;} */
    

.bg {
    background-color: magenta;
   

    /* gradient background */
    background: rgb(223,209,134);
    background: linear-gradient(54deg, rgba(223,209,134,1) 0%, rgba(226,233,132,1) 100%);

/* background-image: url('sample.jpg'); */

background-image:url('https://img.freepik.com/premium-photo/clear-blue-sky-sunset-with-horizon-calm-ocean-sea-background-picturesque_31965-138504.jpg');

background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;

/* background: bg-color || bg-image || bg-position || bg-size | bg-repeat  */
/* background: aqua url ('sample.jpg') center cover no repeat: */
}

.font-sample {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Truculenta", sans-serif;
    font-size : 30px;
    font-weight : bolder;
    font-style : italic;
    background-color : teal;
    color : mintcream;
}

.text-sample {
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 20px;
}

#spacing-sample {
    letter-spacing: 5px;
    line-height: 5;
    background-color: palegoldenrod;
    text-indent: 20px;
}

/* text-shadow:
    x-coordinate ||
    y-coordinate ||
    blur-radius ||
    color of shadow||
    */

#shadow-sample {
    text-shadow: 20px -5px 10px blue;
    font-size:25px;
    }

.box-model {
    background-color: lavenderblush;
    height: 100px;
    width: 80px;
    
    padding: 10px 20px 5px 25px;
    padding-top: 25px;

    border-color: crimson;
    border-width: 5px; 
    border-style: dotted;
    border: 10px inset orange;
    border-radius: 50px;

    border-top: 5px solid purple;
    border-right: 5px dashed blue;
    border-bottom: 8px dotted green;
    border-left: 8px double orange;
    
    margin: 5px 10px 40px 8px;
    margin-left: 50px;  
}

    /* border: border-width || border-stye ||border-color */

/* 
    == MARGIN & PADDING ==
    1 value = applied to all 4 sides
    2 value = top and bottom side || right and left side
    3 value = top side || left and right side || bottom side
    4 value = top side || right side || bottom side || left side
    
    */